#header {
    background-color: black;
    color: white;
}

.logo-wrapper {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.logo-wrapper a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2px;
}

.logo-wrapper img {
    width: 10rem; /* Ajusta el ancho según sea necesario */
    height: 10rem; /* Ajusta la altura según sea necesario */
    object-fit: cover;
}

.nav-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los elementos horizontalesmente */
    margin-right: auto; /* Empuja los elementos hacia la izquierda */
}

.nav-menu-wrapper a {
    font-size: 1.5rem;
    margin-right: 1rem;
    text-decoration: none;
    color: white;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Centra los elementos horizontalmente en el lado derecho */
}

.cart-link,
.flex-buttons a {
    margin-left: 1rem; /* Ajusta el margen izquierdo para separar los elementos */
}

.cart-link img,
.flex-buttons a,
.logout-button,
.login-button,
.signup-button {
    color: white;
}

.cart-count {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: yellow;
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.login-button,
.signup-button {
    text-decoration: none;
    color: white;
    margin-left: 1rem; /* Ajusta el margen izquierdo para separar los elementos */
}


